{
  "extends": [
    "eslint-config-standard-with-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y"
  ],
  "rules": {
    "no-var": "error",
    "no-console": "warn"
  }
}